PyYAML==6.0.2
azure-keyvault-secrets==4.7.0
azure-identity==1.15.0
azure-mgmt-keyvault==10.2.3
azure-mgmt-resource==23.0.1
azure-mgmt-network==25.1.0
azure-mgmt-containerservice==31.0.0
rich==14.0.0
requests==2.31.0
kubernetes==29.0.0
git+https://github.com/p1utoze/pyargocd.git
